<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>

        <!-- JUST FOR PRODUCT PAGES, DISPLAY IMAGE FOR THEM -->
        <p><%= descr %></p>
        <% if (locals.product) { %>
            <p>
                <button class="btn btn-primary btn-lg <%= img.sold ? 'disabled' : '' %> " role="button" onclick="setToSold()">
                    <%= img.sold ? "Sold" : "Let's buy one" %> &raquo;
                </button>
            </p>

            <script>
                function setToSold() {
                    fetch("<%= img.title %>", {
                        method: 'PUT', // or 'PUT'
                        body: JSON.stringify({ sold: true }), // data can be `string` or {object}!
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                    })
                    .catch(error => console.error('Error:', error))
                    .then(res => console.error('Success:', res));        
                }
            </script>
        <% } %>

        <% if (locals.listing) { %>
                <button id="resetButton" class="btn btn-primary btn-lg" onclick="reset()">Reset DB</button>                
            <script>
                function reset(params) {
                    const XHR = new XMLHttpRequest();
                    XHR.open("POST", "/reset");
                    XHR.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            const button = document.getElementById("resetButton");
                            let buttonText = button.innerHTML;
                            button.innerHTML = "Resetting...";

                            setTimeout(() => {
                                button.innerHTML  = buttonText
                            }, 3000);
                        }
                    };
                    XHR.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    XHR.send("");
                }
            </script>
        <% } %>
    </div>
</div>
